@use "_vars.scss" as vars;
.main {
  width: 100%;
  height: 100%;
  padding: 15px;
  color: white;
  background: black;
  background-size: cover;
}
.center {
  margin: 10rem 0;
}
.title {
  display: inline-block;
  font-size: 2.5rem;
  font-family: "Mark Pro";
  font-weight: 900;
}
.description {
  font-weight: 300;
  text-indent: 1rem;
  line-height: 1.25rem;
}
.d3 {
  text-shadow:-4px -4px 0 red, 4px 4px 0 blue;
}
.overlay {
  width: 25rem;
  height: 15rem;
  position: absolute;
  background: url("../../assets/img/prism.webp");
  background-size: cover;
  mix-blend-mode: exclusion;
  bottom: 10rem;
  right: 0rem;
}